<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="item level1">
        <img src="https://picsum.photos/seed/1/564/1292" alt="" />
      </div>
      <div class="item level2">
        <img src="https://picsum.photos/seed/2/564/859" alt="" />
      </div>
      <div class="item level3">
        <img src="https://picsum.photos/seed/3/564" alt="" />
      </div>
      <div class="item level1">
        <img src="https://picsum.photos/seed/4/564/1292" alt="" />
      </div>
      <div class="item level2">
        <img src="https://picsum.photos/seed/5/564/859" alt="" />
      </div>
      <div class="item level3">
        <img src="https://picsum.photos/seed/6/564" alt="" />
      </div>
      <div class="item level1">
        <img src="https://picsum.photos/seed/7/564/1292" alt="" />
      </div>
      <div class="item level2">
        <img src="https://picsum.photos/seed/8/564/859" alt="" />
      </div>
      <div class="item level3">
        <img src="https://picsum.photos/seed/9/564" alt="" />
      </div>
      <div class="item level1">
        <img src="https://picsum.photos/seed/20/564/1292" alt="" />
      </div>
      <div class="item level2">
        <img src="https://picsum.photos/seed/11/564/859" alt="" />
      </div>
      <div class="item level3">
        <img src="https://picsum.photos/seed/12/564" alt="" />
      </div>
      <div class="item level1">
        <img src="https://picsum.photos/seed/13/564/1292" alt="" />
      </div>
      <div class="item level2">
        <img src="https://picsum.photos/seed/14/564/859" alt="" />
      </div>
      <div class="item level3">
        <img src="https://picsum.photos/seed/15/564" alt="" />
      </div>
    </div>
  </body>
</html>
