<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="post-list">
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1006/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/109/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1008/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1009/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1010/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1011/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
      <a href="" class="post">
        <figure class="post-image">
          <img src="https://picsum.photos/id/1012/1080/1080" alt="" />
        </figure>
        <div class="post-overlay">
          <p>
            <span class="post-likes">150</span>
            <span class="post-coments">10</span>
          </p>
        </div>
      </a>
    </section>
  </body>
</html>
